<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="com.sample"/>

<!--    Load the sport properties file-->
    <context:property-placeholder location="classpath:sport.properties"/>
<!--    This bean is configurable-->
    <bean id="trackCoach" class="com.sample.TrackCoach">
    </bean>

<!--    constructor injection  on BaseballCoach  -->
    <bean id="myFortuneService" class="com.sample.HappyFortuneService"/>

    <bean id="myBaseballCoach" class="com.sample.BaseballCoach">
        <constructor-arg ref="myFortuneService"/>
    </bean>

<!--    Construction Injection on TrackCoach    -->
    <bean id="myTrackCoach" class="com.sample.TrackCoach">
        <constructor-arg ref="myFortuneService"/>
    </bean>

<!--    Setter injection of Cricket Coach-->
    <bean id="myCricketCoach" class="com.sample.CricketCoach">
        <property name="fortuneService" ref="myFortuneService"/>
        <property name="emailAddress" value="abc@gmail.com"/>
        <property name="team" value="CSK"/>
    </bean>

<!--    Reading from properties file-->
    <bean id="myCricketCoachProp" class="com.sample.CricketCoach">
        <property name="fortuneService" ref="myFortuneService"/>
        <property name="emailAddress" value="${team.email}"/>
        <property name="team" value="${team.name}"/>
    </bean>
</beans>